
*{
    box-sizing: border-box;
    border:0px;
    padding: 0px;
    border:0px;
    font-family: 'Playfair Display', serif;
}

.backgroundImage{
position: fixed;
top: 0;
left: 0;
min-width: 100vw;
min-height: 100vh;
object-fit: cover;
z-index: -1;
opacity: 50%;
filter:blur(5px)

}

.displayResults{
    display: flex;
    flex-direction: row;
    border: solid darkgrey 2px;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 5px;
    gap: 7px;


}

form{
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
   

}

.section4{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

body{
    display: flex;
    flex-direction: column;
    background: #f8edeb;
    height: 95%;
    width: 95%;
    justify-content: center;
    padding: 5%;
}

label {
    font-size: small;
}
input[type="checkbox" i] {
    align-self: flex-start;
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    
    border: initial;
}

input#agb{
    display: flex;
    justify-items: flex-start;
    align-items: center;
}

fieldset {
    border: none;
    align-content:flex-start;
    display: flex;
    flex-direction: column;
    padding: 0px;

}



section{
    display: flex;
    flex-direction: column;
    background:rgba(255, 215, 186, 0.623);
    border-radius: 5px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0%;

}

.buttonsSection{
    display: flex;
    flex-direction: column;
    width: inherit;
    align-content:center;
    justify-content: center;

}
.buttonContainer{
    display: flex;
    flex-direction: row;
    width: inherit;
    align-content: space-between;
    height: auto;
}
.error-message{
    color: red;
    font-weight: bold;
 }
 input{
    border-radius: 5px;
    border: solid 2px darkgray
 }
 textarea{
    border-radius: 5px;
    border: solid 2px darkgray
 }

 .button{
    height: fit-content;
    width: 300px;
    border: solid darkgray 2px;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    color:black; 
 }
 
 .back{
    background-color: lightcoral;
 }
 .forward{
    background-color: lightseagreen;
 }