
*{
    box-sizing: border-box;
    border:0px;
    padding: 0px;
    border:0px;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
}

body{
    display: flex;
    flex-direction: column;
    background: #f8edeb;
    height: 100vh;
    width: 95vw;
    align-items: center;
    padding: 5%;
    justify-content: center;
}

section{
    display: flex;
    flex-direction: column;
    background:rgba(255, 215, 186, 0.623);
    border-radius: 5px;
    padding: 5%;
    max-width: fit-content;
    height: fit-content;
    overflow: scroll;
  
    
}

h1{
    font-size: x-large;
}

h2{
    font-size: large;
}

.backgroundImage{
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
object-fit: cover;
z-index: -1;
opacity: 50%;
filter:blur(5px)

}

.displayResults{
    display: flex;
    flex-direction: row;
    border: solid darkgrey 2px;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 5px;
    gap: 7px;


}


form{
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
    align-content: center;
    justify-content: center;
  
   

}

.section4{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}



#submitForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}
#section1{
 display: flex;
 flex-direction: column;
 align-items: center;
 height:fit-content;
 
 overflow: scroll;
}

label {
    font-size: small;
}

input[type="checkbox" i] {
    align-self: flex-start;
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    border: initial;
}

 #confSection{
    display: flex;
    flex-direction: column;
    height: fit-content;
    
 }

#buttonHome{
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-top: 5%;
}

#buttonConf{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.data{
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}

input#agb{
    display: flex;
    justify-items: flex-start;
    align-items: center;
}

fieldset {
    border: none;
    align-content:flex-start;
    display: flex;
    flex-direction: column;
    padding: 0px;

}
textarea#bemerkung {
    height: 60px;
}
.courseName{
    text-transform: capitalize;
}

.infoButton{
    display: flex;
    align-items: flex-start;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 5%;
    align-items: center;
}

#ButtonCourse {
    display: flex;
    align-items: center;
}

.error-message{
    color: red;
    font-weight: bold;
 }
 input{
    border-radius: 5px;
    border: solid 2px darkgray
 }
 textarea{
    border-radius: 5px;
    border: solid 2px darkgray
 }
 .button{
    height: fit-content;
    width: 300px;
    border: solid darkgray 2px;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    color:black; 
 }
 
 .back{
    background-color: lightcoral;
 }
 .forward{
    background-color: lightseagreen;
 }

section::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  section {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* table*/
/* th{
    text-align: center;
    font-size: larger;
    font-weight: 500;
} */

th{
    font-size: x-large;
    writing-mode: vertical-lr;
}

.leftText{
    text-align: end;
    text-transform: capitalize;
    padding-right: 8px;
}
.rightText{
    text-align: start;
    text-transform: capitalize;
    padding-left: 8px; 
    color: rgb(3, 117, 112);
    font-stretch: wider;
    font-weight: bolder;
    

}

  .table{
    margin-top: 5%;

    display: flex;
    justify-items: center;
    position: relative
    
  }

  #tableTiltle{
    writing-mode:vertical-rl;
    display: flex;
    justify-content: center;
    font-size:3rem;
    transform: rotate(180deg);
    color: rgb(3, 117, 112);
    font-stretch:500% ;
    font-weight: bolder;
    padding: 0%;
    border: 0%;
    margin: 0%;
    
  }

  a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0px;
    justify-content: center;
  }

  p{
    text-align: start;
    border: 0;
    padding: 0;
    margin: 5px;
    font-size: medium;
  }

.dataTitle{
    color: rgb(3, 117, 112)

}

.completeName {
    text-transform: capitalize;
}
#commentFieldTextTitle{
    font-size: medium;
    text-align: center;
}
 ol{
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .abgSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:max-content;
    height: fit-content;
 }

@media screen and (max-width: 560px) {
    #tableTiltle{
        writing-mode:initial;
        display: flex;
        justify-content: center;
        font-size:3rem;
        transform: rotate(0deg);
        color: rgb(3, 117, 112);
        font-stretch:500% ;
        font-weight: bolder;
        padding: 0%;
        border: 0%;
        margin: 0%;
    }}