.form{
    display: flex;
    flex-direction: column;
}

body{
    display: flex;
    flex-direction: column;
    background: #f8edeb;


}

section{
    display: flex;
    flex-direction: column;
    background: #ffd7ba;
    border-radius: 5px;
    width: ;
}
.error-message{
    color: red;
    font-weight: bold;
 }